# ============================================================
# PostgreSQL
# ============================================================

POSTGRES_USER=postgres
POSTGRES_PASSWORD=pg_db_password
POSTGRES_DB=MainDb
POSTGRES_PORT=5432


# ============================================================
# pgAdmin
# ============================================================

PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin_password
PGADMIN_PORT=5050


# ============================================================
# Web API
# ============================================================

ASPNETCORE_ENVIRONMENT=Production
WEBAPI_PORT=8080
Jwt__Issuer=https://api.media-platform-template.com
Jwt__Audience=https://api.media-platform-template.com
Jwt__SecretKey=[CHANGE_THIS_SECRET_KEY_SOMETHING_SECURE]
Jwt__ExpirationMinutes=15

Cors__AllowedOrigins__0=http://localhost:4321
Cors__AllowedOrigins__1=http://localhost:3000

WEBAPI_PATH=./src

WEBAPI_DOCKERFILE=Dockerfile


# ============================================================
# S3
# ============================================================

S3_ACCESS_KEY=your-s3-access-key
S3_SECRET_KEY=your-s3-secret-key
S3_BUCKET_NAME=your-s3-bucket
CORS_ALLOWED_ORIGINS=http://localhost:4321

# ============================================================
# Frontend
# ============================================================

FRONTEND_PORT=4321
NODE_ENV=production
PUBLIC_API_BASE_URL=http://localhost:8080
